.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 700px;
}
.square {
  width: 200px;
  height: 200px;
  background: coral;
  margin: 5px;
  border: 1px solid royalblue;
  border-radius: 5px;
}

.mole {
  background-image: url(./images/mole.jpg);
  background-size: cover;
}
