@import "./variables";

/* custom navbar */
.navbar {
  /* stays in the same places despite of user-scroll */
  position: fixed;
  background-color: $bgPrimary;
  transition: width 200ms ease;
  overflow: scroll;

  :hover .logo img {
    transform: rotate(-180deg);
  }
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;

  :last-child {
    margin-top: auto;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: $textPrimary;
  filter: grayscale(100%) opacity(0.7);
  transition: $transitionSpeed;

  /* remove color upon hover */
  :hover {
    filter: grayscale(0%) opacity(1);
    background: $bgSecondary;
    color: $textSecondary;
  }

  img {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    /* coloring the icons upon hover animation */
    /* color: pink; */
    transition: $transitionSpeed;
  }
}

.link-text {
  display: none;
  margin-left: 1rem;
}

/* logo customization */
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $textSecondary;
  background: $bgSecondary;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;

  img {
    transform: rotate(0deg);
    transition: transform $transitionSpeed;
  }
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: $transitionSpeed;
}

/* small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    /* same as margin left of main */
    width: 5rem;
    /* capture full height of viewport */
    height: 100vh;
  }

  /* expand navbar upon hover & only on large screens*/
  .navbar:hover {
    width: 16rem;

    .link-text {
      display: inline;
    }

    .logo img {
      margin-left: 11rem;
    }

    .logo-text {
      left: 0px;
    }
  }
}
