/* Theme Code */
.dark {
  $textPrimary: #b6b6b6;
  $textSecondary: #ececec;
  $bgPrimary: #23232e;
  $bgSecondary: #141418;
}

.light {
  $textPrimary: #1f1f1f;
  $textSecondary: #000000;
  $bgPrimary: #ffffff;
  $bgSecondary: #e4e4e4;
}

.solar {
  $textPrimary: #576e75;
  $textSecondary: #35535c;
  $bgPrimary: #fdf6e3;
  $bgSecondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
